body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.display-row > div:first-child {
  width: 20px;
}

.main-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 1px gray;
  padding: 4px;
  background-color: #eceff1;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 481px) {
  .main-container {
    margin-top: 4px;
    width: 375px;
    height: 620px;
  }
}

.display-container {
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: inset 0 0 4px #888;
}

#annunciator {
  height: 14px;
  color: red;
  font-size: 12px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}

#extension-select {
  flex: 1;
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 4px;
}

.category-header {
  color: rgba(0, 0, 0, 0.75);
  margin: 10px;
}

#extension-select:focus {
  outline: none;
}

#extension-btn {
  width: 40px;
}

#keypad-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-radius: 4px;
  background-color: #c5cae9;
  padding: 4px;
}

.key-span-4 {
  grid-column: auto / span 4;
}

.key-span-5 {
  grid-column: auto / span 5;
}

.enter-key {
  grid-column: auto / span 8;
}

.key {
  flex: 1;
  padding: 0;
  margin: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 83%);
  border: none;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.key:focus {
  outline: 0;
}

.key:active {
  background-color: #eee;
}

.key:disabled {
  color: #ccc;
}

.zoom {
  font-size: 1.1rem;
}
